{% extends 'base.html.twig' %}

{% block container %}
    <form action="/recipe" method="get">
        <div class="container-fluid">
            <div class="px-3 py-3 my-5 text-center">
                <h1 class="display-7 fw-bold">Поиск рецептов</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4"></p>

                </div>
                <div class="btn-group btn-group-lg nav-buttons" style="width: 360px;" role="group" aria-label="Basic example">
                    <button type="button"  class="btn active btn-primary" onclick="openSearch()" >
                        Поиск
                    </button>
                    <button type="button"  class="btn btn-primary"   onclick="openRecommend()">
                        Рекомендации
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid" id = "search">
            <h4 style=" padding-bottom: 20px; margin-left: -40px;">Сoдержит</h4>
            <fieldset class="row mb-3" >
                <legend class="col-form-label col-sm-2 pt-0"  >
                    Витамины
                </legend>
                <div class="col-sm-10">
                    <div style="background: white">
                        <input id="vit"  type="text" name="include_vitamins">
                    </div>

                    <script>
                        var input = document.getElementById('vit');

                        var settings = {
                            dropdown: {
                                enabled: 0
                            },
                            whitelist:[{% for vitamin in vitamins %}
                                {% autoescape false%}
                                    {{ "\"" ~ vitamin ~ "\"," }}
                                {% endautoescape %}
                                {% endfor %}]
                        }
                        var tagify = new Tagify(input, settings);

                    </script>
                </div>
            </fieldset>

            <div class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0" >
                    Продукты
                </legend>
                <div class="col-sm-10">
                    <div style="background: white">
                        <input id="temps"  type="text" name="include_ingredients" >
                    </div>

                    <script>
                        var input = document.getElementById('temps');

                        var settings = {
                            dropdown: {
                                enabled: 0
                            },
                            whitelist:[{% for ingredient in ingredients %}
                                {% autoescape false%}
                                {{ "\"" ~ ingredient ~ "\"," }}
                                {% endautoescape %}
                                {% endfor %}]
                        }
                        var tagify = new Tagify(input, settings);

                    </script>
                </div>
            </div>

            <h4 style=" padding-bottom: 20px; margin-left: -40px;">Исключить</h4>
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0" >Витамины</legend>
                <div class="col-sm-10">
                    <div style="background: white">
                        <input id="excludeVit" type="text" name="exclude_vitamins">
                    </div>

                    <script>
                        var input = document.getElementById('excludeVit');

                        var settings = {
                            dropdown: {
                                enabled: 0
                            },
                            whitelist:[{% for vitamin in vitamins %}
                                {% autoescape false%}
                                {{ "\"" ~ vitamin ~ "\"," }}
                                {% endautoescape %}
                                {% endfor %}]
                        }
                        var tagify = new Tagify(input, settings);

                    </script>
                </div>
            </fieldset>

            <div class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0" >Продукты</legend>

                <div class="col-sm-10">
                    <div style="background: white">
                        <input id="excludeProd" type="text" name="exclude_ingredients" >
                    </div>
                    <script>
                        var input = document.getElementById('excludeProd');

                        var settings = {
                            dropdown: {
                                enabled: 0
                            },
                            whitelist:[{% for ingredient in ingredients %}
                                {% autoescape false%}
                                {{ "\"" ~ ingredient ~ "\"," }}
                                {% endautoescape %}
                                {% endfor %}]
                        }
                        var tagify = new Tagify(input, settings);

                    </script>
                </div>


            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-top: 15px;">
                <input class="btn btn-primary btn-lg btn-search" type="submit" value="Найти рецепт" class="button">
{#                <a  class="btn btn-primary btn-lg btn-search" type="button" href="#">#}
{#                    Найти рецепт#}
{#                </a>#}
            </div>

        </div>
    </form>

        <div class="container-fluid" id= "recommend" >
            <nav class="navbar navbar-light" >
                <div class="container-fluid">
                    <form class="d-flex" >
                        <input class="form-control me-2" input type="text" name="template" id="searchTemp" type="search" >
                        <input class="btn btn-primary btn-lg btn-search" type="submit" value="Поиск" class="button">
{#                        <a  class="btn btn-primary btn-search" type="button"  href="#"  >#}
{#                            Поиск#}
{#                        </a>#}
                    </form>
                </div>

            </nav>
            <script>
                var input = document.getElementById('searchTemp');

                var settings = {
                    dropdown: {
                        enabled: 0
                    },
                    whitelist:["Авитаминоз А","Авитаминоз С","Авитаминоз В","Авитаминоз Е"]
                }
                var tagify = new Tagify(input, settings);
            </script>
        </div>

    </div>


    <script>
        function openSearch(){
            var btn = document.getElementById("searchBtn");
            var search = document.getElementById("search");
            var recommend = document.getElementById("recommend");
            recommend.style.display="none";
            if (search.style.display="none"){
                search.style.display="block";
            }


        }
        function openRecommend(){
            var btn = document.getElementById("recommendlBtn");
            var search = document.getElementById("search");
            var recommend = document.getElementById("recommend");
            search.style.display="none";
            if (recommend.style.display="none"){
                recommend.style.display="block";
            }

        }
    </script>
{% endblock %}