{% extends 'base.html.twig' %}

{% block title %}Один рецепт{% endblock %}
{% block body %}
    <li><code>Вернитесь к списку рецептов: <a href="{{ '/recipe'}}">список рецептов.</a></code></li>
{% endblock %}