{% extends 'base.html.twig' %}

{% block title %}Один рецепт{% endblock %}
{% block body %}
    <li><code>Вернитесь к списку рецептов: <a href="{{ path('recipe_list') }}">список рецептов.</a></code></li>
{% endblock %}