{% extends 'base.html.twig' %}

{% block title %}Список рецептов{% endblock %}
{% block body %}
    <li><code>Вы можете увидеть рецепт здесь: <a href="{{ '/recipe/{id}'}}">подобранный для вас рецепт!</a></code></li>
{% endblock %}


