body{
    background-color: #e5f4f9;
}
header{
    background-color: #8dc6d9 ;
}

#search{
    display: block;
    
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 150px;
    padding-left: 150px ;
}
#recommend{
    display: none;
    padding-top: 15px;
    padding-bottom: 20px;
    width: max-content;
    height: max-content; 
}

#recipes{
    margin: 100px;
}

.tagify-vit{
    background-color:#e5f4f9;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}
.recipe-card{
    margin-bottom: 10px;
}
.card-text-wrapper{
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;  
}
.recipe-title a{
    color: #000;
    text-decoration: none;
}

.recipe-description a{
    color: #000;   
}

.recipe-description-decoration-none li a {
    color: #000;
    text-decoration: none;   
}

.nav-buttons button{
    background-color: #5ba5c2;
    width: 50px;
}
.btn-search{
    background-color: #5ba5c2;
    
}