body{
    background-image: url(fon1.jpg);
    background-size: cover;
}

#TemplateTable{display: block;}
#searchSection{display: none;}
#useTemplateSection{display: none;}
#RecipTable{display: none;}
#ProductTable{display: none;}
#temp{
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 150px ;
   
    
}
#add{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
}
#templBtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
#ricepBtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
#productBtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
table{
    table-layout: fixed;
    
}
#recipEdit{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; 
}
#searchProducts{
    align-items: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 150px;
    width: fit-content;
}
#vitamins{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 150px;
    width: fit-content;
}
header{
    position: relative;
    padding-top: 50px;
    padding-bottom: 25px;
}
